@font-face {
  font-family: "SFPro-Light";
  src: url(../assets/fonts/SFProDisplay-Light.woff2) format("woff2"), url(../assets/fonts/SFProDisplay-Light.woff) format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SFPro-Regular";
  src: url(../assets/fonts/SFProDisplay-Regular.woff2) format("woff2"), url(../assets/fonts/SFProDisplay-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SFPro-Medium";
  src: url(../assets/fonts/SFProDisplay-Medium.woff2) format("woff2"), url(../assets/fonts/SFProDisplay-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SFPro-SemiBold";
  src: url(../assets/fonts/SFProDisplay-Semibold.woff2) format("woff2"), url(../assets/fonts/SFProDisplay-Semibold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SFPro-Bold";
  src: url(../assets/fonts/SFProDisplay-Bold.woff2) format("woff2"), url(../assets/fonts/SFProDisplay-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

.header {
  max-width: 1580px;
  width: 100%;
  margin: 0 auto;
  padding: 27px 15px 0;
}

.header__form {
  max-width: 672px;
  width: 100%;
  margin-right: 24px;
}

.header__label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 62px;
  background-color: #fff;
  border: 1px solid #b9b9b980;
  border-radius: 16px;
  overflow: hidden;
}

.header__label::before {
  position: absolute;
  content: "";
  left: 24px;
  bottom: 50%;
  width: 24px;
  height: 24px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  background-image: url("../../assets/images/icon/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.header__input {
  height: 100%;
  padding: 0 20px 0 64px;
  width: 100%;
  outline: transparent;
}

.header__progress {
  position: relative;
  max-width: 119px;
  width: 100%;
  margin-right: 17px;
  background-color: #c8d4ff !important;
}

.header__progress::before {
  position: absolute;
  content: "";
  width: 7px;
  height: 7px;
  background-color: #fff;
  left: 9px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
}

.header .progress-bar {
  padding: 0 20px;
  overflow: visible;
}

.header .header__bookmark {
  position: relative;
  margin-right: 17px;
  max-width: 52px;
  width: 100%;
  height: 52px;
  border-radius: 10px;
  border: none;
  background-color: #fff;
}

.header .header__bookmark svg {
  stroke: #65c17e;
  -webkit-transition: stroke 0.3s ease;
  transition: stroke 0.3s ease;
}

.header .header__bookmark:hover {
  background-color: #65c17e;
}

.header .header__bookmark:hover svg {
  stroke: #fff;
}

.header__span {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 10px;
  font-family: "SFPro-SemiBold", sans-serif;
  padding: 2px 3px;
  background-color: #eb5757;
  border-radius: 50%;
  color: #fff;
}

.header__dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 24px;
  color: #65c17e;
  font-family: "SFPro-Medium", sans-serif;
}

.header__dropdown.show .dropdown-toggle::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.header__dropdown .dropdown-toggle::after {
  height: 8px;
  width: 14px;
  margin-left: 14px;
  background-image: url("../../assets/svg/dropdown.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.header__dropdown-button {
  height: 52px;
  border-radius: 8px !important;
}

.header__items {
  right: 0;
  left: inherit !important;
  min-width: 244px;
}

.header__items .header__item {
  padding: 12px 19px 12px 26px;
}

.header__items svg {
  margin-right: 20px;
}

.header__item .header__progress {
  width: 126px;
  height: 26px;
  border: 1px solid transparent;
}

.header__item:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__item:not(:last-child) {
  border-bottom: 2px solid #4f4f4f1a;
}

.header__item:not(:first-child) svg {
  fill: #4f4f4f;
}

.header__item:first-child svg {
  stroke: #65c17e;
}

.header__item:not(:first-child):active svg {
  fill: #fff;
}

.header__item:first-child:active svg {
  stroke: #fff;
}

.header__item:first-child:active .header__percent {
  color: #fff;
}

.header__item:first-child:active .header__progress {
  border-color: #fff;
}

.header__btn {
  border-radius: 8px !important;
  font-size: 16px;
  padding: 12px 27px 12px 19px;
  height: 52px;
  font-family: "SFPro-SemiBold", sans-serif;
  border-radius: 8px;
}

.header__btn svg {
  margin-right: 11px;
}

.header__percent {
  color: #65c17e;
  margin-right: 11px;
}

.header__img {
  width: 34px;
  height: 34px;
  margin-right: 11px;
  border-radius: 50%;
  overflow: hidden;
}

.header__img img {
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=Header.css.map */