.loading-spinner {
  .modal-content {
    transform: translateY(-50px);
    background-color: transparent;
  }

  .spinner {
    background-color: transparent;
  }

  .spinner__wrap::after {
    border: 8px solid #64ff8e;
    border-color: #64ff8e transparent #64ff8e transparent;
  }
}
