@import '../../../global-styles/variables';

.checklist-comment {
  position: relative;

  word-break: break-word;

  &:not(:last-child) {
    margin-bottom: 32px;
  }

  .edit-dropdown {
    right: 0;
  }

  &__wrapper {
    width: 100%;
    max-width: 500px;
  }

  &__heading {
    display: flex;
    align-items: center;

    margin-bottom: 14px;

    font-size: 16px;
  }

  &__title {
    margin-right: 7px;
  }

  &__time {
    font-size: 14px;
    color: #4f4f4f80;
  }

  &__text {
    margin-bottom: 16px;
    padding-left: 12px;

    line-height: 1.3;
  }
}
