@import "../../../global-styles/_variables.scss";
@import "../../../../node_modules/bootstrap/scss/_mixins.scss";

.sidebar {
  overflow: hidden;
  margin-right: 45px;
  border-radius: 6px;
  width: 100%;
  max-width: 326px;

  &__head {
    padding: 18px 28px;
    width: 100%;
    font-size: 20px;
    color: #fff;
    background-color: $dark;

    @include media-breakpoint-down(lg) {
      padding: 0;
      background-color: $dark;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    border-radius: 0 0 8px 8px;
    padding: 12px 12px 22px;
    width: 100%;
    background-color: #fff;

    @include media-breakpoint-down(lg) {
      border: 1px solid #b9b9b980;
      border-top: none;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    margin-bottom: 3px;
    border-radius: 6px;
    padding: 16px 22px;
    width: 100%;
    font-size: 16px;
    text-align: left;
    transition: transform 0.09s ease;

    svg {
      margin-right: 25px;
    }

    &:hover {
      background-color: #eee;
    }

    &:active {
      transform: scale(0.96);
    }

    &.active {
      color: #fff;
      background-color: $primary;
    }

    @include media-breakpoint-down(sm) {
      padding: 9px 16px;
    }
  }

  &__button--fill {
    svg {
      width: 25px;
      height: 25px;
      fill: $dark;
    }

    &.active svg {
      fill: #fff;
    }
  }

  &__button--stroke {
    svg {
      margin-right: 25px;
      width: 25px;
      height: 25px;
      stroke: $dark;
    }

    &.active svg {
      stroke: #fff;
    }
  }

  &__popular {
    display: flex;
    align-items: center;
    margin-bottom: 3px;
    border-radius: 6px;
    padding: 16px 22px;
    width: 100%;
    font-size: 16px;
    text-align: left;
    color: $warning;
    transition: transform 0.09s ease, background-color 0.15s ease;

    svg {
      margin-right: 25px;
      width: 25px;
      height: 25px;
      fill: $warning;
      stroke: $warning;
    }

    &:hover {
      background-color: #eee;
    }

    &:active {
      transform: scale(0.96);
    }

    &.hot {
      color: #fff;
      background-color: $warning;
      transition: transform 0.09s ease, background-color 0.15s ease;

      svg {
        stroke: #fff;
      }
    }

    @include media-breakpoint-down(sm) {
      padding: 9px 16px;
    }
  }

  .accordion-button {
    justify-content: center;
    padding: 16px 28px;
    font-size: 16px;
    color: #fff;
    background-color: $dark;

    &::after {
      margin-left: 22px;
      width: 14px;
      height: 10px;
      background-image: url("../../../assets/images/icon/accordion.svg");
      background-size: contain;
    }

    &:focus {
      box-shadow: none;
    }
  }

  .accordion-body {
    padding: 0;
  }

  @include media-breakpoint-down(xl) {
    margin-right: 20px;
  }

  @include media-breakpoint-down(lg) {
    margin: 0 0 40px;
    max-width: 100%;
  }
}
