@import '../../../global-styles/variables';
@import '../../../../node_modules/bootstrap/scss/mixins';

.sidebar {
  overflow: hidden;

  width: 100%;
  max-width: 326px;
  margin-right: 45px;

  border-radius: 6px;

  @include media-breakpoint-down(xl) {
    margin-right: 20px;
  }

  @include media-breakpoint-down(lg) {
    max-width: 100%;
    margin: 0 0 40px;
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: SFPro-SemiBold, sans-serif;
    font-size: 18px;

    width: 100%;
    padding: 11px 28px;

    font-size: 20px;
    color: #fff;

    background-color: $dark;

    @include media-breakpoint-down(sm) {
      font-size: 16px;
      padding: 14px 28px;
    }

    svg {
      transform: rotate(-180deg);

      margin-left: 22px;

      transition: 0.3s transform ease;
    }

    &.close svg {
      transform: rotate(0deg);
    }
  }

  &__body {
    overflow: hidden;

    height: auto;
    max-height: 9999px;

    transition: max-height 0.3s cubic-bezier(1, 0, 1, 0);

    &.collapsed {
      max-height: 0;

      transition: max-height 0.35s cubic-bezier(0, 1, 0, 1);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;

    width: 100%;
    margin: 0;
    padding: 12px 12px 22px;

    background-color: #fff;
    border-radius: 0 0 8px 8px;

    @include media-breakpoint-down(lg) {
      border: 1px solid #b9b9b980;
      border-top: none;
    }
  }

  &__button {
    display: flex;
    align-items: center;

    width: 100%;
    margin-bottom: 3px;
    padding: 16px 22px;

    font-size: 16px;
    text-align: left;

    border-radius: 6px;

    transition: transform 0.09s ease;

    @include media-breakpoint-down(sm) {
      padding: 9px 16px;
    }

    svg {
      margin-right: 25px;
    }

    &:hover {
      background-color: #eee;
    }

    &:active {
      transform: scale(0.96);
    }

    &.active {
      color: #fff;

      background-color: $primary;
    }
  }

  &__button--fill {
    svg {
      width: 25px;
      height: 25px;

      fill: $dark;
    }

    &.active svg {
      fill: #fff;
    }
  }

  &__button--stroke {
    svg {
      width: 25px;
      height: 25px;
      margin-right: 25px;

      stroke: $dark;
    }

    &.active svg {
      stroke: #fff;
    }
  }

  &__popular {
    display: flex;
    align-items: center;

    width: 100%;
    margin-bottom: 3px;
    padding: 16px 22px;

    font-size: 16px;
    color: $warning;
    text-align: left;

    border-radius: 6px;

    transition: transform 0.09s ease, background-color 0.15s ease;

    @include media-breakpoint-down(sm) {
      padding: 9px 16px;
    }

    svg {
      width: 25px;
      height: 25px;
      margin-right: 25px;

      fill: $warning;
      stroke: $warning;
    }

    &:hover {
      background-color: #eee;
    }

    &:active {
      transform: scale(0.96);
    }

    &.hot {
      color: #fff;

      background-color: $warning;

      transition: transform 0.09s ease, background-color 0.15s ease;

      svg {
        stroke: #fff;
      }
    }
  }
}
