@import "../../../global-styles/_variables.scss";

.creation-map {
  position: relative;
  margin-top: 8px;
  width: 100%;
  height: 231px;
  max-width: 458px;
  transform: translateX(-14px);

  &__location {
    right: 10px;
    bottom: 10px;

    svg {
      width: 18px;
      height: 18px;
      fill: $dark;
    }
  }

  &__del {
    right: 10px;
    top: 55px;

    svg {
      width: 18px;
      height: 18px;
      stroke: $dark;
    }
  }

  &__extend {
    left: 10px;
    top: 10px;
  }

  .leaflet-container {
    border-radius: 8px;
    width: 100%;
    height: 231px;
    max-width: 458px;
  }

  .leaflet-left {
    display: none;
  }

  .leaflet-control-geocoder-alternatives li {
    text-align: left;
  }

  .leaflet-control-geocoder-form input {
    display: flex;
    width: 100%;
    max-width: 300px;
  }

  .leaflet-control-geocoder-alternatives {
    width: 100%;
    max-width: 300px;
  }

  .leaflet-touch .leaflet-control-geocoder {
    min-width: 35px;
    min-height: 35px;
  }

  .leaflet-bottom.leaflet-right {
    left: 0;
    right: inherit;
  }

  .leaflet-container .leaflet-control-attribution,
  .leaflet-container .leaflet-control-scale {
    font-size: 10px;
    color: $dark;
  }

  .leaflet-control-geocoder-alternatives li {
    text-align: left;
  }

  .leaflet-control-geocoder-form input {
    display: flex;
    width: 100%;
    max-width: 300px;
  }

  .leaflet-control-geocoder-alternatives {
    width: 100%;
    max-width: 300px;
  }

  .leaflet-touch .leaflet-control-geocoder {
    min-width: 35px;
    min-height: 35px;
  }

  .leaflet-touch .leaflet-control-geocoder-icon {
    margin: 3px;
    width: 18px;
    height: 18px;
  }

  .leaflet-touch .leaflet-control-geocoder {
    border: none;
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0 1px 4px rgb(0 0 0 / 30%);
    cursor: pointer;
  }

  .leaflet-control-geocoder-icon {
    background-image: url("../../../assets/images/icon/search.svg");
    background-size: contain;
  }

  .leaflet-control-attribution a {
    color: $primary;
  }

  &__location,
  &__del,
  &__extend {
    position: absolute;
    z-index: 800;
    border-radius: 8px;
    width: 35px;
    height: 35px;
    box-shadow: 0 1px 4px rgb(0 0 0 / 30%);
    background-color: #fff;
  }
}
