@import "../../../global-styles/variables";
@import "../../../../node_modules/bootstrap/scss/mixins";

.loading-list {
  position: relative;

  width: 100%;
  max-width: 834px;
  margin: 0 auto 43px;
  padding: 34px;

  background-color: #fff;
  border-radius: 6px;

  @include media-breakpoint-down(sm) {
    padding: 30px 19px;
  }

  &:not(:last-child) {
    margin-bottom: 25px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 12px;
    }
  }

  &__main{
    display: flex;
    align-items: flex-start;

    width: 100%;

    div{
      width: 100%;
    }

    .loading-list__wrap{
      flex-direction: column;

      max-width: calc(100% - 95%);

      .loading-list__skeleton--btn{
        width: 40px;
      }

      .loading-list__skeleton--btn:first-child{
        margin: 0;
        margin-bottom: 10px;
      }
    }
  }

  &__skeleton--title {
    height: 28px;
    margin-bottom: 18px;
  }

  &__skeleton--text {
    height: 18px;

    &:not(:last-child) {
      margin-bottom: 16px;
    }

    &:last-child {
      margin-bottom: 34px;
    }
  }

  &__skeleton--main{
    width: 100%;
    max-width: 90%;
  }

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media-breakpoint-down(sm) {
      flex-wrap: wrap-reverse;
      align-items: flex-start;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    max-width: 235px;

    @include media-breakpoint-down(sm) {
      justify-content: flex-end;

      max-width: 128px;
      margin-bottom: 7px;
    }
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    margin-bottom: 28px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 15px;
    }
  }

  &__buttons {
    display: flex;

    width: 100%;
    max-width: 127px;
    margin-right: 25px;

    @include media-breakpoint-down(sm) {
      margin-right: 0;
    }
  }

  &__skeleton--tag {
    max-width: 43px;
    height: 28px;
    margin-right: 4px;
    margin-bottom: 4px;

    border-radius: 4px;
  }

  &__skeleton--button {
    max-width: 150px;
    height: 50px;
    margin-right: 10px;

    @include media-breakpoint-down(sm) {
      margin: 25px 10px 0 0;
    }
  }

  &__skeleton--btn {
    max-width: 58px;
    height: 36px;

    &:first-child {
      margin-right: 8px;
    }
  }

  &__skeleton--time {
    max-width: 80px;
    height: 18px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 24px;
    }
  }
}
