@import '../../../global-styles/variables';

.creation-map {
  position: relative;

  width: 100%;
  max-width: 458px;
  height: 231px;
  margin: 10px 0;

  &.invalid {
    .leaflet-container {
      border-color: $warning;
    }
  }

  .leaflet-container {
    width: 100%;
    max-width: 458px;
    height: 231px;
    border: 1px solid transparent;

    border-radius: 6px;
  }

  .leaflet-left {
    display: none;
  }

  .leaflet-control-geocoder-alternatives {
    width: 100%;
    max-width: 300px;

    li {
      text-align: left;
    }
  }

  .leaflet-bottom.leaflet-right {
    right: inherit;
    left: 0;
  }

  .leaflet-container .leaflet-control-scale {
    font-size: 10px;
    color: $dark;
  }

  .leaflet-control-geocoder-form input {
    display: flex;

    width: 100%;
    max-width: 300px;
  }

  .leaflet-touch .leaflet-control-geocoder-icon {
    width: 18px;
    height: 18px;
    margin: 3px;
  }

  .leaflet-touch .leaflet-control-geocoder {
    cursor: pointer;

    top: 40px;

    min-width: 35px;
    min-height: 35px;
    padding: 5px;

    border: none;
    border-radius: 6px;
    box-shadow: 0 0.5px 1px rgb(0 0 0 / 30%);
  }

  .leaflet-control-geocoder-icon {
    background-image: url('../../../assets/images/icon/search.svg');
    background-size: contain;

    transition: background-image 0.2s ease;
  }

  .leaflet-control-geocoder:hover .leaflet-control-geocoder-icon {
    background-image: url('../../../assets/images/icon/searchHover.svg');
  }

  .leaflet-control-geocoder-expanded .leaflet-control-geocoder-icon {
    background-image: url('../../../assets/images/icon/searchHover.svg');
  }

  .leaflet-control-attribution a {
    color: $primary;
  }

  .leaflet-pane.leaflet-map-pane {
    .leaflet-tile-pane {
      filter: grayscale(100%) brightness(110%) opacity(50%);
    }
  }

  .leaflet-control-attribution {
    font-size: 5px;

    filter: grayscale(100%) opacity(90%);
  }

  &__location,
  &__extend {
    position: absolute;
    z-index: 800;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 35px;
    height: 35px;

    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0.5px 1px rgb(0 0 0 / 30%);

    svg {
      fill: #a3a3a3;

      transition: fill 0.2s ease;
    }

    &:hover svg {
      fill: $dark;
    }
  }

  &__location {
    right: 10px;
    bottom: 10px;

    svg {
      width: 18px;
      height: 18px;
    }
  }

  &__extend {
    position: absolute;
    z-index: 800;
    top: 10px;
    right: 10px;

    width: 35px;
    height: 35px;

    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0.5px 1px rgb(0 0 0 / 30%);
  }
}
