@import '../../../global-styles/_variables.scss';
@import '../../../../node_modules/bootstrap/scss/_mixins.scss';

.creation {
  .breadcrumbs {
    padding-bottom: 48px;
  }

  &__title {
    margin-bottom: 16px;
    font-size: 28px;

    @include media-breakpoint-down(xl) {
      text-align: center;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-down(xl) {
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  &__wrap {
    margin-right: 15px;
    width: 100%;
    max-width: 706px;

    @include media-breakpoint-down(xl) {
      margin-right: 0;
      max-width: 854px;
    }
  }

  &__img {
    margin-right: 130px;
    width: 100%;
    height: 400px;
    max-width: 400px;

    svg {
      width: 100%;
      height: 100%;
    }

    @include media-breakpoint-down(xl) {
      margin: 0 0 40px;
    }

    @include media-breakpoint-down(sm) {
      height: 300px;
      max-width: 300px;
    }
  }

  &__head {
    margin-bottom: 6px;
    font-size: 18px;
  }

  &__span.invalid {
    font-size: 14px;
    color: $warning;
  }

  &__name {
    margin: 7px 0 42px;
    width: 100%;
    height: 54px;

    input {
      outline: transparent;
      border: 1px solid transparent;
      border-radius: 8px;
      padding: 0 15px;
      width: 100%;
      height: 100%;

      &:focus {
        border-color: $primary;
      }
    }

    &.invalid {
      input {
        border-color: $warning !important;
      }
    }
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 28px;
  }

  &__items {
    margin-bottom: 38px;
  }

  &__box {
    margin: 0 20px 15px 0;
  }

  &__add {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 9px 32px 9px 18px;
    color: #fff;
    background-color: $primary;
    transition: all 0.3s ease;

    svg {
      margin-right: 15px;
      stroke: #fff;
      transition: stroke 0.3s ease;
    }

    &:hover {
      border-color: $primary;
      color: $primary;
      background-color: #fff;

      svg {
        stroke: $primary;
      }
    }
  }

  &__desc {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;

    &.invalid {
      color: $warning;
    }
  }

  &__field {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 70px;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 9px 15px;
    width: 100%;
    background-color: #fff;

    &.invalid {
      border-color: $warning;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 25px;
    }
  }

  &__create {
    display: flex;
    align-items: center;
    margin: 3px;
    border: 1px solid $dark;
    border-radius: 5px;
    padding: 2px 8px;

    svg {
      margin-left: 7px;
    }

    &.input {
      margin: 0;
      outline: transparent;
      border: none;
      padding: 0;
      width: 100px;
    }

    &.tag {
      border-color: transparent;
      color: #fff;
      background-color: $primary;

      svg {
        stroke: #fff;
        transform: rotate(45deg);
      }
    }
  }

  &__cancel {
    svg {
      transform: rotate(45deg) translateY(-1px);
    }
  }

  &__buttons {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }

  &__button {
    border-radius: 8px;
    padding: 12px 68px;

    &:first-child {
      margin-right: 8px;
      color: #fff;
      background-color: $dark;

      @include media-breakpoint-down(sm) {
        margin: 0 0 12px;
      }
    }

    &:last-child {
      color: #fff;
      background-color: $primary;
    }

    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
}
