@import './_fonts.scss';
@import './_variables.scss';
@import '../../node_modules/bootstrap/scss/_mixins.scss';

html {
  scroll-behavior: inherit !important;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: 'SFPro-Regular', sans-serif;
  font-size: 16px;
  color: $dark;
  -webkit-tap-highlight-color: transparent;
  background-color: $body;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex-grow: 1;
}

.container {
  margin: 116px auto 0;
  padding: 0 34px;
  width: 100%;
  max-width: 1614px;

  @include media-breakpoint-down(xl) {
    margin-top: 0;
  }

  @include media-breakpoint-down(md) {
    padding: 0 16px;
  }
}

.container-wrapper {
  margin: 0 auto;
  max-width: 1047px;
}

.container-breadcrumb {
  max-width: 902px;
}

.sr-only {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

ul {
  list-style: none;
  padding: 0;
}

ol {
  padding-left: 16px;
}

a {
  display: inline-block;
  outline: transparent;
  text-decoration: none;
  color: inherit;
}

button {
  outline: transparent;
  border: none;
  padding: 0;
  color: inherit;
  background: none;
  cursor: pointer;
}

.br-8 {
  border-radius: 8px;
}

.SFPro-300 {
  font-family: 'SFPro-Regular', sans-serif;
}

.SFPro-400 {
  font-family: 'SFPro-Regular', sans-serif;
}

.SFPro-500 {
  font-family: 'SFPro-Medium', sans-serif;
}

.SFPro-600 {
  font-family: 'SFPro-SemiBold', sans-serif;
}

.SFPro-700 {
  font-family: 'SFPro-Bold', sans-serif;
}

.modal-dialog {
  padding: 15px;
  margin: auto;
}

.modal-content {
  overflow: hidden;
  border-radius: 8px;
  border: none;
}

.popup-complain {
  display: none;

  .modal-content {
    width: inherit;
  }

  .modal-header {
    display: none;
  }

  .modal-body {
    padding: 0;
  }

  .modal-dialog {
    max-width: 100%;
  }

  .modal-dialog-centered {
    justify-content: center;
  }
}

.modal {
  padding: 0 !important;
}

ul,
p {
  margin: 0;
}

.title--margin {
  margin-bottom: 46px;

  @include media-breakpoint-down(md) {
    margin-bottom: 39px;
  }
}

.checklist-button {
  font-size: 16px;
  color: #fff;
  background-color: $primary;
  padding: 13px 36px;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: all 0.3s ease;

  @include media-breakpoint-down(sm) {
    width: 100%;
  }

  &:hover {
    background-color: #fff;
    color: $primary;
    border-color: $primary;
  }
}

.complain-dropdown {
  position: relative;

  &__info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 8px;

    &:active {
      background-color: #e6e6e6;
    }

    &:hover + .complain-dropdown__desc {
      opacity: 1;
      visibility: visible;
    }
  }

  &__desc {
    position: absolute;
    transform: translateX(28%);
    right: -50%;
    top: 35px;
    z-index: 10;
    overflow: hidden;
    border-radius: 8px;
    color: #4f4f4f;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 4%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    display: flex;
    align-items: center;
    padding: 4px 22px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
}
