@import './_fonts.scss';
@import '../../node_modules/bootstrap/scss/_mixins.scss';

html,
body,
#root {
  height: 100%;
}

body {
  font-family: 'SFPro-Regular', sans-serif;
  font-size: 14px;
  color: $dark;
  -webkit-tap-highlight-color: transparent;
  background-color: $body;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1614px;
  width: 100%;
  padding: 0 34px;
  margin: 116px auto 0;

  @include media-breakpoint-down(xl) {
    margin-top: 0;
  }

  @include media-breakpoint-down(md) {
    padding: 0 16px;
  }
}

.container-wrapper {
  margin: 0 auto;
  max-width: 1047px;
}

.sr-only {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

ul {
  list-style: none;
  padding: 0;
}

ol {
  padding-left: 14px;
}

a {
  display: inline-block;
  outline: transparent;
  text-decoration: none;
  color: inherit;
}

button {
  outline: transparent;
  border: none;
  padding: 0;
  color: inherit;
  background: none;
  cursor: pointer;
}

.br-8 {
  border-radius: 8px;
}

.SFPro-300 {
  font-family: 'SFPro-Light', sans-serif;
}

.SFPro-400 {
  font-family: 'SFPro-Regular', sans-serif;
}

.SFPro-500 {
  font-family: 'SFPro-Medium', sans-serif;
}

.SFPro-600 {
  font-family: 'SFPro-SemiBold', sans-serif;
}

.SFPro-700 {
  font-family: 'SFPro-Bold', sans-serif;
}

.modal-content {
  border-radius: 8px;
  overflow: hidden;
}

.popup-complain {
  display: none;

  .modal-header {
    display: none;
  }

  .modal-body {
    padding: 0;
    max-width: 460px;
  }

  .modal-content {
    max-width: 460px;
  }

  .modal-dialog-centered {
    justify-content: center;
  }
}

.popup-image {
  .modal-dialog {
    max-width: 1235px;
    padding: 0 15px;
  }

  .modal-header {
    padding: 10px;
  }

  .modal-body {
    padding: 0;
    max-height: 80vh;
    min-width: 300px;
    max-width: 1920px;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .modal-dialog {
    justify-content: center;
  }

  .modal-content {
    position: relative;
    border: none;
    width: auto;
  }
}
