@mixin line-clamp {
  overflow: hidden;

  text-overflow: ellipsis;

  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

@mixin line-clamp2 {
  overflow: hidden;

  text-overflow: ellipsis;

  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
