$primary: #65c17e;
$warning: #FC5757;
$dark: #4f4f4f;
$secondary: #f2f2f2;
$light: #959595;
$body: #f5f7fe;
$grid-breakpoints: (
  xs: 0,
  ss: 375px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);
$display-font-sizes: (
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 2.8rem,
  5: 2rem,
  6: 1.5rem,
  7: 1.25rem,
  8: 1rem,
);
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 3.5,
  7: $spacer * 4,
  8: $spacer * 5,
);
