@import "../../../../global-styles/variables";
@import "../../../../global-styles/mixins";
@import "../../../../../node_modules/bootstrap/scss/mixins";

.profile-info {
  display: flex;
  justify-content: space-between;

  width: 100%;
  max-width: 1044px;
  margin: 0 auto 16px;
  padding: 40px 68px;

  background-color: #fff;
  border-radius: 6px;

  @include media-breakpoint-down(md) {
    flex-direction: column;
  }

  @include media-breakpoint-down(md) {
    padding: 28px 23px;
  }

  &__inner {
    width: 100%;
    max-width: 443px;
    margin-right: 10px;

    word-break: break-word;

    @include media-breakpoint-down(md) {
      margin: 0 0 40px;
    }
  }

  &__box {
    display: flex;

    margin-bottom: 34px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 30px;
    }
  }

  &__edit {
    display: flex;

    width: 100%;
    max-width: 206px;

    @include media-breakpoint-down(md) {
      max-width: 100%;
    }
  }

  &__edit-btn {
    cursor: pointer;

    position: relative;

    width: 100%;
    max-width: 105px;
    height: 105px;
    margin-right: 27px;

    @include media-breakpoint-down(sm) {
      max-width: 83px;
      height: 83px;
      margin-right: 19px;
    }

    svg {
      position: absolute;
      right: 0;
      bottom: 0;

      width: 27px;
      height: 27px;
    }

    input {
      position: absolute;

      width: 0;

      opacity: 0;
    }
  }

  &__img {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 105px;
    height: 105px;

    background-color: #f5f7fe;
    border-radius: 50%;

    @include media-breakpoint-down(sm) {
      max-width: 83px;
      height: 83px;
    }

    img {
      width: 100%;
      height: 100%;

		  object-fit: cover;
    }

    svg {
      position: inherit;

      width: 50px;
      height: 69px;

      @include media-breakpoint-down(sm) {
        max-width: 32px;
        height: 51px;
      }
    }
  }

  &__title {
    @include line-clamp;

    margin-bottom: 6px;

    font-size: 28px;
    line-height: 1.3;
    color: $primary;

    @include media-breakpoint-down(sm) {
      font-size: 20px;
    }
  }

  &__subtitle {
    display: block;

    margin-bottom: 10px;

    font-size: 20px;
    line-height: 1.3;
    color: #888;

    @include media-breakpoint-down(sm) {
      font-size: 16px;
    }

    &.empty {
      font-size: 16px;
    }
  }

  &__span {
    display: block;

    margin-bottom: 16px;

    line-height: 1.1;
    color: #888;

    @include media-breakpoint-down(sm) {
      font-size: 14px;
    }
  }

  &__networks {
    display: flex;
    margin-top: 40px;
  }

  &__network {
    &:not(:last-child) {
      margin-right: 25px;

      @include media-breakpoint-down(sm) {
        margin-right: 20px;
      }
    }

    svg {
      width: 100%;
      max-width: 20px;
      height: 20px;

      fill: $dark;
    }

    &:hover {
      color: $primary;

      svg {
        fill: $primary;
      }
    }
  }

  &__network--website {
    a {
      display: flex;
      align-items: center;
    }

    svg {
      width: 24px;
      max-width: 100%;
      height: 24px;
      margin-right: 4px;
    }
  }

  &__link {
    display: inline-block;
  }

  &__text {
    @include media-breakpoint-down(sm) {
      margin-bottom: 35px;
    }

    &.empty {
      opacity: 0.5;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 45px;
    margin-right: 16px;
    padding: 0 38px;

    font-size: 14px;

    border: 1px solid #c8d4ff;
    border-radius: 6px;

    transition: all 0.3s ease;

    @include media-breakpoint-down(md) {
      width: 100%;
    }

    &:hover {
      color: #fff;

      background-color: $primary;
      border-color: transparent;
    }
  }

  &__setting {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 45px;
    height: 45px;

    border: 1px solid #c8d4ff;
    border-radius: 6px;

    transition: all 0.3s ease;

    svg {
      fill: $dark;

      transition: fill 0.3s ease;
    }

    &:hover {
      background-color: $primary;
      border-color: transparent;

      svg {
        fill: #fff;
      }
    }
  }
}
