.checklist-image {
  position: relative;
  overflow: hidden;
  margin-top: 5px;
  border-radius: 8px;
  width: 100%;
  height: 230px;
  max-width: 460px;
  transform: translateX(-14px);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__extend {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 800;
    border-radius: 8px;
    width: 35px;
    height: 35px;
    box-shadow: 0 1px 4px rgb(0 0 0 / 30%);
    background-color: #fff;
  }

  &__popup {
    .modal-dialog {
      padding: 0 15px;
      max-width: 1235px;
    }

    .modal-header {
      padding: 10px;
    }

    .modal-body {
      display: flex;
      align-items: center;
      justify-content: center;
      overflow-y: scroll;
      padding: 0;
      min-width: 300px;
      max-width: 1920px;
      max-height: 80vh;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .modal-dialog {
      justify-content: center;
    }

    .modal-content {
      position: relative;
      border: none;
      width: auto;
    }
  }
}
