.checklist-item {
  line-height: 1.2;

  p {
    margin-bottom: 5px;
  }

  &:not(:last-child) {
    margin-bottom: 11px;
  }

  &__image {
    display: table;
    max-width: 460px;
    width: 100%;
    height: 230px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
