@import "../../../global-styles/_variables.scss";
@import "../../../../node_modules/bootstrap/scss/_mixins.scss";

.checklist-item {
  margin-right: 55px;
  line-height: 1.2;
  word-break: break-word;

  @include media-breakpoint-down(sm) {
    margin-right: 0;
  }

  &:not(:last-child) {
    margin-bottom: 4px;
  }

  p {
    margin-bottom: 0;
  }

  &__link {
    margin: 5px 8px;
    color: $primary;

    svg {
      margin-top: -4px;
      margin-left: 2px;
      fill: $primary;
    }
  }
}
