@import '../../../global-styles/variables';
@import '../../../../node_modules/bootstrap/scss/mixins';

.checklist-item {
  line-height: 1.2;
  word-break: break-word;

  @include media-breakpoint-down(sm) {
    margin-right: 0;
  }

  &:not(:last-child) {
    margin-bottom: 5px;
  }

  p {
    margin-bottom: 0;
  }

  &.completed {
    color: $primary;
    text-decoration: line-through;
  }

  &__link {
    margin: 0 6px;

    color: $primary;

    svg {
      margin: -4px 0 0 4px;

      fill: $primary;
    }

    &:hover svg {
      fill: #519a65;
    }
  }

  &__map {
    margin: 0 6px;

    color: $primary;

    svg {
      width: 16px;
      height: 19px;
      margin: -4px 0 0 4px;

      fill: #32cd71;
    }

    &:hover svg {
      fill: #519a65;
    }
  }
}
