@import '../../../global-styles/_variables.scss';
@import '../../../../node_modules/bootstrap/scss/_mixins.scss';

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;

  &__wrapper {
    display: inline-block;
    border-radius: 8px;
    padding: 6px 7px;
    background-color: #fff;

    @include media-breakpoint-down(sm) {
      max-width: 295px;
    }
  }

  &__button {
    border-radius: 6px;
    padding: 11px 45px;
    font-size: 1.125rem;

    &:not(:last-child) {
      margin-right: 6px;
    }

    &:hover {
      background-color: #65c17e1a;
    }

    &.active {
      color: #fff;
      background-color: $primary;
    }

    @include media-breakpoint-down(sm) {
      padding: 11px 20px;
      font-size: 1rem;
    }
  }
}
