@import "../../../global-styles/_variables.scss";
@import "../../../../node_modules/bootstrap/scss/_mixins.scss";

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;

  &__wrapper {
    display: inline-block;
    border-radius: 6px;
    padding: 6px 7px;
    background-color: #fff;

    @include media-breakpoint-down(sm) {
      max-width: 295px;
    }
  }

  &__button {
    border-radius: 6px;
    padding: 11px 45px;
    font-size: 1.125rem;
    transition: transform 0.09s ease;

    @include media-breakpoint-down(sm) {
      padding: 11px 20px;
      font-size: 1rem;
    }

    &:not(:last-child) {
      margin-right: 6px;
    }

    &:hover {
      color: $primary;
      background-color: #f5f7fe;
    }

    &:active {
      transform: scale(0.96);
    }

    &.active {
      color: #fff;
      background-color: $primary;
    }
  }
}
