@import "../../../global-styles/variables";
@import "../../../../node_modules/bootstrap/scss/mixins";

.popup-preview {
  .modal-dialog {
    max-width: 834px;
  }

  .modal-header {
    padding: 16px 22px;

    border-bottom: 1px solid #e1e1e1;
  }

  .checklist-detail__wrapper {
    margin: 0;

    @include media-breakpoint-down(sm) {
      padding: 19px 19px 26px;
    }
  }

  &__title {
    font-size: 16px;
  }
}
