@import '../../../global-styles/_variables.scss';
@import '../../../../node_modules/bootstrap/scss/_mixins.scss';

.popup-preview {
  .modal-dialog {
    max-width: 834px;
  }

  .modal-header {
    border-bottom: 1px solid #e1e1e1;
    padding: 16px 22px;
  }

  .checklist-detail__wrapper {
    margin: 0;
    
    @include media-breakpoint-down(sm) {
      padding: 19px 19px 26px;
    }
  }

  .checklist-detail__buttons {
    display: none;
  }

  &__title {
    font-size: 16px;
  }
}
