@import '../../../global-styles/_variables.scss';
@import '../../../../node_modules/bootstrap/scss/_mixins.scss';

.main-content {
  &__wrapper {
    display: flex;
    margin-bottom: 100px;

    @include media-breakpoint-down(lg) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__wrap {
    width: 100%;
    max-width: 834px;
  }

  &__title {
    margin-bottom: 20px;
    font-size: 28px;

    @include media-breakpoint-down(sm) {
      font-size: 20px;
      margin-bottom: 27px;
    }
  }

  .search-input {
    margin: 0 0 38px;

    @include media-breakpoint-down(md) {
      margin-bottom: 16px;
    }
  }

  &__inner {
    position: relative;
    margin: 0 auto;
    padding: 93px 0 101px;
    width: 100%;
    max-width: 1920px;
    background-color: #fff;

    @include media-breakpoint-down(md) {
      padding: 43px 0 54px;
      margin-bottom: 50px;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      z-index: 0;
      width: 100%;
      height: 331px;
      max-width: 414px;
      background-image: url('../../../assets/images/content/main-bgc1.svg');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    &::after {
      content: '';
      position: absolute;
      right: 24px;
      bottom: -3px;
      z-index: 0;
      width: 100%;
      height: 608px;
      max-width: 939px;
      background-image: url('../../../assets/images/content/main-bgc2.svg');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;

      @include media-breakpoint-down(xl) {
        right: 0;
        background-image: url('../../../assets/images/content/main-bgc3.svg');
        background-position: right center;
      }
    }
  }

  &__container {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 200px 0 34px;
    width: 100%;
    max-width: 1614px;
    z-index: 1;

    @include media-breakpoint-down(md) {
      padding: 0 16px;
    }
  }

  &__box {
    margin-right: 20px;

    @include media-breakpoint-down(xl) {
      margin-right: 0;
    }
  }

  &__img {
    position: relative;
    z-index: 1;
    margin-bottom: 29px;
    width: 100%;
    height: 36px;
    max-width: 150px;

    @include media-breakpoint-down(md) {
      margin-bottom: 41px;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__heading {
    position: relative;
    z-index: 1;
    margin-bottom: 44px;
    max-width: 547px;
    font-size: 42px;

    @include media-breakpoint-down(xl) {
      font-size: 38px;
    }

    @include media-breakpoint-down(lg) {
      margin: 0 auto 30px;
    }

    @include media-breakpoint-down(md) {
      font-size: 32px;
      margin-bottom: 21px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 24px;
    }
  }

  &__desc {
    position: relative;
    z-index: 1;
    margin-bottom: 69px;
    max-width: 491px;

    @include media-breakpoint-down(md) {
      margin-bottom: 84px;
    }
  }

  &__text {
    display: block;
    text-align: center;
    font-size: 28px;
  }

  .create-button {
    margin: inherit;
    
    @include media-breakpoint-down(sm) {
      width: 100%;
      justify-content: center;
    }
  }

  &__images {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 444px;
    width: 100%;
    height: 130px;
    background-color: #fff;
    border-radius: 32px;
    box-shadow: 0 0 8px 0 #0000001a;

    @include media-breakpoint-down(xl) {
      margin-bottom: 52px;
    }

    @include media-breakpoint-down(md) {
      max-width: 311px;
      height: 91px;
    }
  }

  &__image {
    display: block;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    background-size: cover;

    &:not(:last-child) {
      margin-right: 45px;

      @include media-breakpoint-down(md) {
        margin-right: 30px;
      }
    }
  }

  &__image:nth-child(1) {
    max-width: 40px;
    width: 100%;
    height: 40px;
    background-image: url('../../../assets/images/content/S.png');

    @include media-breakpoint-down(md) {
      max-width: 25px;
      height: 25px;
    }
  }

  &__image:nth-child(2) {
    max-width: 50px;
    width: 100%;
    height: 50px;
    background-image: url('../../../assets/images/content/M.png');

    @include media-breakpoint-down(md) {
      max-width: 35px;
      height: 35px;
    }
  }

  &__image:nth-child(3) {
    max-width: 70px;
    width: 100%;
    height: 70px;
    background-image: url('../../../assets/images/content/L.png');

    @include media-breakpoint-down(md) {
      max-width: 45px;
      height: 45px;
    }
  }

  &__image:nth-child(4) {
    max-width: 80px;
    width: 100%;
    height: 80px;
    background-image: url('../../../assets/images/content/XL.png');

    @include media-breakpoint-down(md) {
      max-width: 55px;
      height: 55px;
    }
  }
}
