@import "../../../global-styles/_variables.scss";
@import "../../../../node_modules/bootstrap/scss/_mixins.scss";

.main-content {
  &__wrapper {
    display: flex;
    margin-bottom: 100px;
  }

  &__wrap {
    width: 100%;
    max-width: 834px;
  }

  &__title {
    margin-bottom: 20px;
    font-size: 28px;
  }

  .search-input {
    margin: 0 0 38px;
  }

  &__inner {
    position: relative;
    margin: 0 auto;
    padding: 93px 0 101px;
    width: 100%;
    max-width: 1920px;
    background-color: #fff;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      z-index: 0;
      width: 100%;
      height: 331px;
      max-width: 414px;
      background-image: url("../../../assets/images/content/main-bgc1.svg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    &::after {
      content: "";
      position: absolute;
      right: 24px;
      bottom: 0;
      z-index: 0;
      width: 100%;
      height: 608px;
      max-width: 939px;
      background-image: url("../../../assets/images/content/main-bgc2.svg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  &__container {
    margin: 0 auto;
    padding: 0 34px;
    width: 100%;
    max-width: 1614px;

    @include media-breakpoint-down(md) {
      padding: 0 16px;
    }
  }

  &__img {
    position: relative;
    z-index: 1;
    margin-bottom: 29px;
    width: 100%;
    height: 36px;
    max-width: 150px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__heading {
    position: relative;
    z-index: 1;
    margin-bottom: 44px;
    max-width: 547px;
    font-size: 42px;
  }

  &__desc {
    position: relative;
    z-index: 1;
    margin-bottom: 69px;
    max-width: 491px;
  }

  &__button {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 18px 56px 18px 60px;
    font-size: 16px;
    color: #fff;
    background-color: $primary;
    transition: all 0.3s ease;

    svg {
      margin-right: 11px;
      stroke: #fff;
      transition: stroke 0.3s ease;
    }

    &:hover {
      border-color: $primary;
      color: $primary;
      background-color: transparent;

      svg {
        stroke: $primary;
      }
    }
  }
}
