@import "../../../global-styles/variables";

.support {
  &__img {
    width: 100%;
    max-width: 251px;
    height: 251px;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__text {
    line-height: 1.3;

    a {
      color: $primary;

      &:hover {
        color: #429f5b;
      }
    }
  }
}
