@import "../../../global-styles/_variables.scss";

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70vh;
  background-color: $body;

  &__wrap {
    display: inline-block;
    width: 100px;
    height: 100px;
  }

  &__wrap::after {
    content: " ";
    display: block;
    margin: 10px;
    border: 8px solid $primary;
    border-color: $primary transparent $primary transparent;
    border-radius: 50%;
    width: 84px;
    height: 84px;
    animation: spinner 1.2s linear infinite;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
