@import '../../../global-styles/_variables.scss';

.profile {
  &__wrapper,
  &__wrap {
    margin: 0 auto;
    max-width: 1044px;
    width: 100%;
    background-color: #fff;
    border-radius: 16px;
    padding: 40px 68px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  &__inner {
    max-width: 443px;
    width: 100%;
  }

  &__box {
    display: flex;
    margin-bottom: 34px;
  }

  &__edit {
    display: flex;
    align-items: start;
  }

  &__img {
    width: 105px;
    height: 105px;
    margin-right: 27px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }

  &__title {
    line-height: 1.3;
    font-size: 28px;
    color: $primary;
    margin-bottom: 6px;
  }

  &__subtitle {
    line-height: 1.3;
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
  }

  &__span {
    color: #888888;
    margin-bottom: 16px;
    display: block;
    line-height: 1.1;
  }

  &__networks {
    display: flex;
  }

  &__network {
    &:not(:last-child) {
      margin-right: 25px;
    }

    &:last-child {
      svg {
        margin-right: 5px;
        fill: #fff;
        stroke: $dark;
      }
    }

    &:hover {
      color: $primary;

      svg {
        fill: $primary;
      }

      &:last-child svg {
        fill: #fff;
        stroke: $primary;
      }
    }

    svg {
      width: 20px;
      height: 20px;
      fill: $dark;
    }
  }

  &__text {
    margin-bottom: 40px;
  }

  &__button {
    height: 45px;
    padding: 0 38px;
    margin-right: 16px;
    border: 1px solid #c8d4ff;
    font-size: 14px;
    border-radius: 8px;
    font-size: 14px;

    transition: all 0.3s ease;
    &:hover {
      background-color: $primary;
      color: #fff;
      border-color: transparent;
    }
  }

  &__setting {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #c8d4ff;
    border-radius: 8px;
    transition: all 0.3s ease;

    &:hover {
      background-color: $primary;
      border-color: transparent;

      svg {
        fill: #fff;
      }
    }

    svg {
      fill: $dark;
      transition: fill 0.3s ease;
    }
  }

  &__head {
    display: block;
    margin-bottom: 25px;
    color: #888888;
  }

  &__items {
    display: flex;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 39px;
    border: 1px solid #C8D4FF;
    border-radius: 8px;
    box-shadow: 0px 3px 4px 0px #ECEFF9;
    max-width: 185px;

    &:not(:last-child) {
      margin-right: 20px;
    }

    svg {
      margin-bottom: 22px;
    }

    div {
      display: flex;
      align-items: center;
    }
  }

  &__num {
    margin-right: 10px;
    font-size: 22px;
  }

  &__desc {
    line-height: 1.2;
    font-size: 12px;
    max-width: 70px;
  }
}
