@import '../../../../global-styles/variables';
@import '../../../../global-styles/mixins';
@import '../../../../../node_modules/bootstrap/scss/mixins';

.creator-category {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 70px 0 34px;
  transform: translateX(12px);
  max-width: 65px;
  width: 100%;

  @include media-breakpoint-down(sm) {
    flex-direction: row;
    margin: 24px 0 0;
    transform: translateX(0);
    max-width: 100%;
    justify-content: start;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 65px;
    line-height: 1.2;
    font-size: 12px;

    @include media-breakpoint-down(sm) {
      flex-direction: row;
      max-width: 100%;
    }

    &:first-child {
      margin-bottom: 27px;
      text-align: center;

      @include media-breakpoint-down(sm) {
        margin: 0 15px 0 0;
        text-align: start;
      }
    }
  }

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: #f0f9f2;
    margin-bottom: 6px;
    overflow: hidden;

    @include media-breakpoint-down(sm) {
      margin: 0 10px 0 0;
    }

    img.broken {
      width: 70%;
      height: 70%;
      object-fit: contain;
    }
  }

  &__profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__empty {
    width: 25px;
    height: 25px;
  }

  &__category {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f9f2;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-bottom: 6px;

    @include media-breakpoint-down(sm) {
      margin: 0 10px 0 0;
    }

    svg {
      width: 18px;
      height: 18px;
    }

    &.fill {
      svg {
        fill: #65c17e;
      }
    }

    &.stroke {
      svg {
        stroke: #65c17e;
      }
    }
  }

  &__nickname {
    max-width: 65px;

    @include line-clamp;
    height: 15px;
  }

  &__name {
    max-width: 65px;
  }
}
