@import '../../../global-styles/variables';
@import '../../../../node_modules/bootstrap/scss/mixins';

.checklist-checkbox {
  font-size: 1.2rem;
  line-height: 1.2;

  &::marker {
    font-size: 1.2rem;
    font-weight: 600;
  }

  &:not(:last-child) {
    margin-bottom: 7px;
  }

  &__label {
    cursor: pointer;
    user-select: none;

    position: relative;

    display: flex;

    margin-left: 2px;

    input {
      cursor: pointer;

      position: absolute;

      width: 0;
      height: 0;

      opacity: 0;
    }
  }

  &__checkmark {
    position: absolute;
    left: -30px;
    top: 1px;
    width: 20px;
    height: 20px;

    background-color: transparent;
    background-image: url('../../../assets/images/icon/checkbox.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    &::after {
      content: '';

      position: absolute;

      display: none;
    }
  }

  &__link {
    margin: 0 8px;

    color: $primary;

    svg {
      margin-top: -4px;
      margin-left: 2px;

      fill: $primary;
    }
  }

  &__num {
    margin-right: 3px;
  }

  &__todo {
    margin-bottom: 0;

    word-break: break-word;
  }

  &__label:hover input ~ &__checkmark {
    background-color: #65c17e1a;
  }

  &__label input:checked ~ &__checkmark {
    background-image: url('../../../assets/images/icon/checkboxActive.svg');
  }

  &__label input:checked ~ &__checkmark::after {
    display: block;
  }

  &__label input:checked ~ &__number {
    color: $primary;
  }

  &__label &__checkmark::after {
    top: 4px;
    right: 4px;

    width: 12px;
    height: 12px;

    background-image: url('../../../assets/images/icon/tick.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &.checked {
    &::marker {
      color: $primary;
    }
  }
}
