@import "../../../global-styles/_variables.scss";
@import "../../../../node_modules/bootstrap/scss/_mixins.scss";

.checklist-checkbox {
  font-size: 1.2rem;
  line-height: 1.2;

  &::marker {
    font-weight: bold;
    font-size: 1.2rem;
  }

  &:not(:last-child) {
    margin-bottom: 4px;
  }

  &__number {
    margin-right: 5px;
  }

  &__label {
    position: relative;
    display: flex;
    margin-left: 2px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    input {
      position: absolute;
      width: 0;
      height: 0;
      opacity: 0;
      cursor: pointer;
    }
  }

  &__checkmark {
    position: absolute;
    left: -50px;
    top: 50%;
    width: 20px;
    height: 20px;
    background-image: url("../../../assets/images/icon/checkbox.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    transform: translateY(-50%);

    &::after {
      content: "";
      position: absolute;
      display: none;
    }
  }

  &__link {
    margin: 5px 8px;
    color: $primary;

    svg {
      margin-top: -4px;
      margin-left: 2px;
      fill: $primary;
    }
  }

  &__label input:checked ~ p {
    text-decoration: line-through;
    color: $primary;
  }

  &__todo {
    margin-bottom: 0;
    word-break: break-word;
  }

  &.checked {
    &::marker {
      color: $primary;
    }
  }

  &__label:hover input ~ &__checkmark {
    background-color: #65c17e1a;
  }

  &__label input:checked ~ &__checkmark {
    background-image: url("../../../assets/images/icon/checkboxActive.svg");
  }

  &__label input:checked ~ &__checkmark::after {
    display: block;
  }

  &__label input:checked ~ &__number {
    color: $primary;
  }

  &__label &__checkmark::after {
    right: 4px;
    top: 4px;
    width: 12px;
    height: 12px;
    background-image: url("../../../assets/images/icon/tick.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
