@import "../../../global-styles/_variables.scss";
@import "../../../../node_modules/bootstrap/scss/_mixins.scss";

.checklist-edit {
  z-index: 2;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin: 9px 0 0 72px;

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #4f4f4f1c;
    border-left: 1px solid #4f4f4f1c;
    width: 43px;
    height: 43px;
    background-color: #fff;

    svg {
      stroke: $dark;
    }

    &:hover svg {
      stroke: $primary;
    }

    &:first-child {
      border-left: none;
      border-radius: 4px 0 0 4px;
    }

    &:last-child {
      border: none;
      border-left: 1px solid #4f4f4f1c;
      border-radius: 0 4px 4px 0;

      svg {
        width: 26px;
      }

      &:hover svg {
        stroke: $warning;
      }
    }

    &:nth-child(2) {
      svg {
        fill: $dark;
        stroke: inherit;
      }

      &:hover svg {
        fill: $primary;
      }
    }

    &.active {
      border: none;
      background-color: $primary;

      svg {
        stroke: #fff;
      }

      &:nth-child(2)svg {
        fill: #fff;
        stroke: inherit;
      }
    }
  }
}
