@import "../../../../global-styles/variables";
@import "../../../../../node_modules/bootstrap/scss/mixins";

.profile-label {
  display: flex;
  flex-direction: column;

  width: 100%;
  margin-bottom: 16px;

  input {
    width: 100%;
    height: 54px;
    margin-top: 6px;
    padding: 0 21px;

    border: 1px solid #c8d4ff;
    border-radius: 6px;
    outline: transparent;

    &:focus {
      border-color: $primary;
    }
  }

  textarea {
    resize: none;

    height: 93px;
    margin-top: 6px;
    padding: 17px 21px;

    line-height: 1.1;

    border: 1px solid #c8d4ff;
    border-radius: 6px;
    outline: transparent;

    &:focus {
      border-color: $primary;
    }
  }

  &.invalid {
    input {
      border-color: $warning !important;
    }

    textarea {
      border-color: $warning !important;
    }
  }

  &__title {
    position: relative;

    font-size: 18px;
    line-height: 1.3;
  }

  &__subtitle {
    font-size: 12px;
    line-height: 1.3;
    color: $warning;
  }
}
