@import "../../../../global-styles/variables";
@import "../../../../../node_modules/bootstrap/scss/mixins";

.profile-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  width: 100%;

  input {
    margin-top: 6px;
    outline: transparent;
    border: 1px solid #c8d4ff;
    border-radius: 6px;
    padding: 0 21px;
    width: 100%;
    height: 54px;

    &:focus {
      border-color: $primary;
    }
  }

  textarea {
    margin-top: 6px;
    outline: transparent;
    border: 1px solid #c8d4ff;
    border-radius: 6px;
    padding: 17px 21px;
    height: 93px;
    line-height: 1.1;
    resize: none;

    &:focus {
      border-color: $primary;
    }
  }

  &__title {
    position: relative;
    font-size: 18px;
    line-height: 1.3;
  }

  &__subtitle {
    font-size: 12px;
    line-height: 1.3;
    color: $warning;
  }

  &.invalid {
    input {
      border-color: $warning !important;
    }

    textarea {
      border-color: $warning !important;
    }
  }
}
