@import "../../../global-styles/_variables.scss";

.paginate {
  margin-top: 40px;

  .pagination {
    flex-wrap: wrap;
    justify-content: center;
    font-family: "SFPro-Bold", sans-serif;
  }

  .page-item {
    svg {
      fill: $dark;
    }

    .page-link {
      border-radius: 4px;
      padding: 0.3rem 0.69rem;
      color: $dark;
    }

    &:not(:last-child) {
      margin-right: 8px;
    }

    &.disabled {
      a {
        border-color: transparent !important;
      }

      svg {
        fill: #dbdbdb;
      }
    }

    &.active .page-link {
      border-radius: 4px;
      color: $primary;
      background-color: #fff;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #ebebeb;
      border-radius: 6px;
      width: 40px;
      height: 40px;
      background-color: #fff;

      &.disabled {
        border-color: transparent;

        svg {
          fill: #dbdbdb;
        }
      }
    }

    svg {
      fill: $dark;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
  }

  &__first {
    margin-right: 8px;
    transform: rotate(180deg);
  }

  &__last {
    margin-left: 8px;
  }

  &__desc {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    font-size: 14px;
  }
}
