@import "../../../../global-styles/variables";
@import "../../../../../node_modules/bootstrap/scss/mixins";

.forgot-password {
  width: 100%;
  max-width: 585px;
  padding: 43px 37px 73px;

  @include media-breakpoint-down(lg) {
    max-width: 100%;
    padding: 40px 0;
  }

  &__buttons {
    overflow: hidden;
    display: flex;
    align-items: center;

    margin-bottom: 40px;

    font-size: 18px;

    border-radius: 6px;

    @include media-breakpoint-down(lg) {
      justify-content: center;

      margin-bottom: 0;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 253px;
    height: 60px;

    background-color: #fff;
    border: 1px solid #4f4f4f4d;

    @include media-breakpoint-down(lg) {
      max-width: 100%;
    }

    &.active {
      font-family: SFPro-Medium, sans-serif;
      color: #fff;

      background-color: $primary;
      border-color: transparent;
    }

    &:first-child {
      border-right: none;
      border-radius: 8px 0 0 8px;
    }

    &:last-child {
      border-left: none;
      border-radius: 0 8px 8px 0;
    }
  }

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 258px;
    margin: 0 auto;
    padding: 0 15px;

    @include media-breakpoint-down(lg) {
      margin: 45px auto;
    }

    svg {
      width: 100%;
    }
  }

  &__title {
    margin-bottom: 45px;

    font-size: 24px;
  }

  &__done {
    position: relative;

    display: block;

    width: 100%;
    max-width: 398px;
    margin-bottom: 34px;
    padding-left: 51px;

    line-height: 1.3;
    color: $primary;

    &::before {
      content: "";

      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);

      width: 40px;
      height: 40px;

      background-image: url("../../../../assets/images/icon/done.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__label {
    margin-bottom: 29px;

    &.invalid {
      margin-bottom: 10px;

      span {
        color: $warning;
      }

      input {
        border-color: $warning;
      }
    }

    input {
      width: 100%;
      height: 60px;
      padding: 0 18px;

      border: 1px solid #4f4f4f4d;
      border-radius: 6px;
      outline: transparent;

      &::placeholder {
        font-size: 16px;
        color: #4f4f4f9f;
      }

      &:focus {
        border-color: $primary;
      }
    }

    &:last-child {
      margin-bottom: 37px;
    }
  }

  &__submit {
    width: 100%;
    height: 60px;

    font-size: 18px;
    color: #fff;

    background-color: $primary;
    border: 1px solid transparent;
    border-radius: 6px;

    transition: all 0.3s ease;

    &:hover {
      color: $primary;

      background-color: #fff;
      border-color: $primary;
    }
  }

  &__invalid {
    display: flex;
    align-items: center;

    margin: 2px 0 14px;

    svg {
      margin-right: 10px;
    }
  }

  &__span {
    display: block;

    margin-bottom: 9px;

    line-height: 1.2;
  }

  .spinner {
    justify-content: start;

    height: auto;
    margin-bottom: 34px;

    background-color: #fff;
  }

  .spinner__wrap {
    width: 42px;
    height: 42px;

    &::after {
      width: 100%;
      height: 100%;
      margin: 0;

      border-width: 7px;
    }
  }
}
