@import "../../../global-styles/_variables.scss";

.sidebar {
  overflow: hidden;
  margin-right: 45px;
  border-radius: 8px;
  width: 100%;
  max-width: 326px;

  &__head {
    padding: 18px 28px;
    font-size: 20px;
    color: #fff;
    background-color: #646464;
  }

  &__list {
    display: flex;
    flex-direction: column;
    padding: 7px 12px 22px;
    width: 100%;
    background-color: #fff;
  }

  &__button {
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 12px 22px;
    width: 100%;
    font-size: 16px;
    text-align: left;

    svg {
      margin-right: 25px;
      width: 25px;
      height: 25px;
      stroke: $dark;
    }

    &.active {
      color: #fff;
      background-color: $primary;

      svg {
        stroke: #fff;
      }
    }
  }

  &__label {
    position: relative;
    display: flex;
    margin-left: 48px;
    padding: 12px 22px;
    font-size: 16px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    input {
      position: absolute;
      width: 0;
      height: 0;
      opacity: 0;
      cursor: pointer;
    }
  }

  &__checkmark {
    position: absolute;
    left: -26px;
    top: 50%;
    width: 25px;
    height: 25px;
    background-image: url("../../../assets/images/icon/checkbox.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    transform: translateY(-50%);

    &::after {
      content: "";
      position: absolute;
      display: none;
    }
  }

  &__active {
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 12px 22px;
    width: 100%;
    font-size: 16px;
    text-align: left;
    color: #fc5757;
    background-color: #eb565617;

    svg {
      margin-right: 25px;
      width: 25px;
      height: 25px;
    }
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
  }

  &__more {
    padding: 4px 8px;
    font-size: 16px;
    color: #2b74c6;
  }

  &__tag {
    display: inline-block;
    margin-bottom: 4px;
    border-radius: 4px;
    padding: 4px 8px;
    color: #467399;
    background: #407bff1a;

    &:not(:last-child) {
      margin-right: 4px;
    }
  }

  &__label:hover input ~ &__checkmark {
    background-color: #65c17e1a;
  }

  &__label input:checked ~ &__checkmark {
    background-image: url("../../../assets/images/icon/checkboxActive.svg");
  }

  &__label input:checked ~ &__checkmark::after {
    display: block;
  }

  &__label input:checked ~ &__number {
    color: $primary;
  }

  &__label &__checkmark::after {
    right: 5px;
    top: 5px;
    width: 14px;
    height: 14px;
    background-image: url("../../../assets/images/icon/tick.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
