@import '../../../global-styles/_variables.scss';

.sidebar {
  overflow: hidden;
  margin-right: 45px;
  border-radius: 8px;
  width: 100%;
  max-width: 326px;

  &__head {
    padding: 18px 28px;
    font-size: 20px;
    color: #fff;
    background-color: #646464;
  }

  &__list {
    display: flex;
    flex-direction: column;
    padding: 12px 12px 22px;
    width: 100%;
    background-color: #fff;
    margin: 0;
  }

  &__button {
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 12px 22px;
    width: 100%;
    font-size: 16px;
    text-align: left;
    margin-bottom: 9px;
    
    &:hover {
      background-color: #eeeeee;
    }

    svg {
      margin-right: 25px;
      width: 25px;
      height: 25px;
      stroke: $dark;
    }

    &.active {
      color: #fff;
      background-color: $primary;

      svg {
        stroke: #fff;
      }
    }
  }

  &__active {
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 12px 22px;
    width: 100%;
    font-size: 16px;
    text-align: left;
    color: #fc5757;
    margin-bottom: 9px;
    background-color: #eb565617;

    svg {
      margin-right: 25px;
      width: 25px;
      height: 25px;
    }
  }
}
