@import "../../../global-styles/_variables.scss";
@import "../../../../node_modules/bootstrap/scss/_mixins.scss";

.error {
  &__title {
    @include media-breakpoint-down(sm) {
      font-size: 24px;
    }
  }

  &__img {
    width: 100%;
    max-width: 571px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 51px;
      max-width: 223px;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
  }
}
