@import "../../../global-styles/variables";
@import "../../../../node_modules/bootstrap/scss/mixins";

.loading-list {
  position: relative;

  width: 100%;
  max-width: 834px;
  margin: 0 auto 43px;
  padding: 34px;

  background-color: #fff;
  border-radius: 6px;

  @include media-breakpoint-down(sm) {
    padding: 30px 19px;
  }

  &:not(:last-child) {
    margin-bottom: 25px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 12px;
    }
  }

  &__skeleton--title {
    height: 28px;
    margin-bottom: 18px;
  }

  &__skeleton--text {
    height: 18px;

    &:not(:last-child) {
      margin-bottom: 16px;
    }

    &:last-child {
      margin-bottom: 34px;
    }
  }

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media-breakpoint-down(sm) {
      flex-wrap: wrap-reverse;
      align-items: flex-start;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    max-width: 235px;

    @include media-breakpoint-down(sm) {
      justify-content: flex-end;

      max-width: 128px;
      margin-bottom: 7px;
    }
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 28px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 15px;
    }
  }

  &__buttons {
    display: flex;

    width: 100%;
    max-width: 127px;
    margin-right: 25px;

    @include media-breakpoint-down(sm) {
      margin-right: 0;
    }
  }

  &__skeleton--tag {
    max-width: 43px;
    height: 28px;
    margin-right: 4px;
    margin-bottom: 4px;

    border-radius: 4px;
  }

  &__skeleton--button {
    max-width: 150px;
    height: 50px;
    margin-right: 10px;

    @include media-breakpoint-down(sm) {
      margin: 25px 10px 0 0;
    }
  }

  &__skeleton--btn {
    max-width: 58px;
    height: 36px;

    &:first-child {
      margin-right: 8px;
    }
  }

  &__skeleton--time {
    max-width: 80px;
    height: 18px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 24px;
    }
  }

  &__skeleton {
    --base-color: #ebebeb;
    --highlight-color: #f5f5f5;
    --animation-duration: 1.5s;
    --animation-direction: normal;
    --pseudo-element-display: block; /* Enable animation */

    position: relative;
    z-index: 1; /* Necessary for overflow: hidden to work correctly in Safari */

    overflow: hidden;

    width: 100%;

    line-height: 1;

    background-color: var(--base-color);
    border-radius: 6px;
  }

  &__skeleton::after {
    content: " ";

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    transform: translateX(-100%);

    display: var(--pseudo-element-display);

    height: 100%;

    background-image: linear-gradient(90deg, var(--base-color), var(--highlight-color), var(--base-color));
    background-repeat: no-repeat;

    animation-name: react-loading-skeleton;
    animation-duration: var(--animation-duration);
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: var(--animation-direction);
  }

  @keyframes react-loading-skeleton {
    100% {
      transform: translateX(100%);
    }
  }
}
