@import "../../../global-styles/_variables.scss";

body {
  .pagination {
    justify-content: center;
  }

  .page-item {
    .page-link {
      border-radius: 4px;
      padding: 0.3rem 0.69rem;
      color: $dark;
    }

    &:not(:last-child) {
      margin-right: 8px;
    }

    &.active .page-link {
      border-radius: 4px;
      color: $primary;
      background-color: #fff;
    }
  }
}
