@import '../../../global-styles/_variables.scss';

body {
  .pagination {
    justify-content: center;
  }

  .page-item {
    .page-link {
      border-radius: 4px;
      padding: 0.3rem 0.69rem;
      color: $dark;
    }

    &:not(:last-child) {
      margin-right: 8px;
    }

    &.active .page-link {
      border-radius: 4px;
      color: $primary;
      background-color: #fff;
    }

    &.stop {
      a {
        border-color: #fff;
        color: #dbdbdb;
        cursor: default;

        &:focus {
          box-shadow: none;
          background-color: #fff;
        }

        &:hover {
          background-color: #fff;
        }
      }
    }
  }

  .paginate__arrow {
    font-size: 28px;
    line-height: 0;
    position: relative;
    top: 2px;
  }
}
