@import '../../../global-styles/variables';

.checklist-comments {
  width: 100%;
  max-width: 834px;
  margin: 0 auto;
  padding: 25px;

  background-color: #fff;
  border-radius: 6px;

  .spinner {
    position: absolute;
    left: 28px;

    justify-content: start;

    width: auto;
    height: auto;
    margin-right: 0;

    background-color: transparent;
  }

  .spinner__wrap {
    width: 32px;
    height: 32px;

    &::after {
      width: 100%;
      height: 100%;
      margin: 0;

      border-width: 5px;
    }
  }

  &__button,
  &__loading {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 235px;
    height: 52px;
    margin-top: 32px;
    padding: 5px;

    background-color: #ecf2ff;
    border-radius: 6px;

    transition: all 0.3s ease;
  }

  &__review {
    display: block;

    margin-bottom: 16px;

    font-size: 16px;
  }

  &__items {
    margin-bottom: 0;
  }

  &__button {
    svg {
      transform: rotate(90deg);

      margin-right: 13px;

      stroke: $dark;

      transition: stroke 0.3s ease;
    }

    &:hover {
      color: #fff;

      background-color: $primary;

      svg {
        stroke: #fff;
      }
    }
  }

  &__loading {
    cursor: wait;

    position: relative;
  }
}
