@import "../../global-styles/_variables.scss";
@import "../../global-styles/_fonts.scss";

.header {
  max-width: 1580px;
  width: 100%;
  margin: 0 auto;
  padding: 27px 15px 0;

  &__form {
    max-width: 672px;
    width: 100%;
    margin-right: 24px;
  }

  &__label {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 62px;
    background-color: #fff;
    border: 1px solid #b9b9b980;
    border-radius: 16px;
    overflow: hidden;

    &::before {
      position: absolute;
      content: "";
      left: 24px;
      bottom: 50%;
      width: 24px;
      height: 24px;
      transform: translateY(50%);
      background-image: url("../../assets/images/icon/search.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  &__input {
    height: 100%;
    padding: 0 20px 0 64px;
    width: 100%;
    outline: transparent;
  }

  &__progress {
    position: relative;
    max-width: 119px;
    width: 100%;
    margin-right: 17px;
    background-color: #c8d4ff !important;

    &::before {
      position: absolute;
      content: "";
      width: 7px;
      height: 7px;
      background-color: #fff;
      left: 9px;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 50%;
    }
  }

  .progress-bar {
    padding: 0 20px;
    overflow: visible;
  }

  .header__bookmark {
    position: relative;
    margin-right: 17px;
    max-width: 52px;
    width: 100%;
    height: 52px;
    border-radius: 10px;
    border: none;
    background-color: #fff;

    svg {
      stroke: $primary;
      transition: stroke 0.3s ease;
    }

    &:hover {
      background-color: $primary;

      svg {
        stroke: #fff;
      }
    }
  }

  &__span {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 10px;
    font-family: "SFPro-SemiBold", sans-serif;
    padding: 2px 3px;
    background-color: $warning;
    border-radius: 50%;
    color: #fff;
  }

  &__dropdown {
    display: flex;
    align-items: center;
    margin-right: 24px;
    color: $primary;
    font-family: "SFPro-Medium", sans-serif;

    &.show {
      .dropdown-toggle::after {
        transform: rotate(180deg);
      }
    }

    .dropdown-toggle::after {
      height: 8px;
      width: 14px;
      margin-left: 14px;
      background-image: url("../../assets/svg/dropdown.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      border: none;
      transition: transform 0.3s ease;
    }
  }

  &__dropdown-button {
    height: 52px;
  }

  &__items {
    right: 0;
    left: inherit !important;
    min-width: 244px;

    .header__item {
      padding: 12px 19px 12px 26px;
    }

    svg {
      margin-right: 20px;
    }
  }

  &__item {
    .header__progress {
      width: 126px;
      height: 26px;
      border: 1px solid transparent;
    }

    &:first-child {
      display: flex;
      align-items: center;
    }

    &:not(:last-child) {
      border-bottom: 2px solid #4f4f4f1a;
    }

    &:not(:first-child) svg {
      fill: $dark;
    }

    &:first-child svg {
      stroke: $primary;
    }

    &:not(:first-child):active svg {
      fill: #fff;
    }

    &:first-child:active svg {
      stroke: #fff;
    }

    &:first-child:active {
      .header__percent {
        color: #fff;
      }

      .header__progress {
        border-color: #fff;
      }
    }
  }

  &__btn {
    font-size: 16px;
    padding: 12px 27px 12px 19px;
    height: 52px;
    font-family: "SFPro-SemiBold", sans-serif;

    svg {
      margin-right: 11px;
    }
  }

  &__percent {
    color: $primary;
    margin-right: 11px;
  }

  &__img {
    width: 34px;
    height: 34px;
    margin-right: 11px;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
