@import "../../../global-styles/_variables.scss";
@import "../../../../node_modules/bootstrap/scss/_mixins.scss";

.sign {
  margin-bottom: 60px;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    margin: 170px auto 0;
    border-radius: 6px;
    width: 100%;
    max-width: 1205px;
    background-color: #fff;

    @include media-breakpoint-down(xl) {
      margin-top: 30px;
    }

    @include media-breakpoint-down(lg) {
      justify-content: center;
      margin-top: 0;
      background-color: inherit;
    }
  }

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    svg {
      width: 100%;
      max-width: 465px;
    }
  }


  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    svg {
      width: 100%;
      max-width: 258px;
    }
  }
}
