@import "../../../global-styles/_variables.scss";
@import "../../../global-styles/_fonts.scss";
@import "../../../global-styles/_fonts.scss";
@import "../../../../node_modules/bootstrap/scss/_mixins.scss";

.header {
  padding: 0 16px;
  width: 100%;

  &__navbar {
    left: 50%;
    z-index: 100;
    padding: 27px 16px;
    width: 100%;
    max-width: 1580px;
    background-color: $body;
    transform: translateX(-50%);
    transition: padding 0.3s ease;

    &.scroll {
      padding: 9px 16px;
    }

    @include media-breakpoint-down(xl) {
      padding: 20px 16px;
    }

    @include media-breakpoint-down(md) {
      padding: 15px 16px;
      background-color: #fff;
    }

    @include media-breakpoint-down(sm) {
      padding: 9px 16px;
    }
  }

  &__logo {
    margin-right: 30px;
    padding: 0;
    width: 100%;
    height: 36px;
    max-width: 161px;

    img {
      width: 100%;
      height: 100%;
    }

    @include media-breakpoint-down(md) {
      order: 2;
      margin-right: 0;
    }

    @include media-breakpoint-down(sm) {
      height: 29px;
      max-width: 127px;
    }
  }

  &__burger {
    .header__span {
      right: 0;
      top: -6px;
      padding: 5px 4px;
    }

    @include media-breakpoint-down(md) {
      order: 1;
    }
  }

  &__form {
    margin-right: 24px;
    margin-left: auto;
    width: 100%;
    max-width: 672px;

    @include media-breakpoint-down(xl) {
      margin-top: 100px;
      max-width: 100%;
    }

    @include media-breakpoint-down(sm) {
      margin-top: 78px;
    }
  }

  &__label {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    border: 1px solid #b9b9b980;
    border-radius: 16px;
    width: 100%;
    height: 62px;
    background-color: #fff;

    &::before {
      content: "";
      position: absolute;
      left: 24px;
      bottom: 50%;
      width: 24px;
      height: 24px;
      background-image: url("../../../assets/images/icon/search.svg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      transform: translateY(50%);

      @include media-breakpoint-down(sm) {
        left: 15px;
      }
    }

    @include media-breakpoint-down(sm) {
      height: 52px;
    }
  }

  &__input {
    outline: transparent;
    padding: 0 20px 0 64px;
    width: 100%;
    height: 100%;

    @include media-breakpoint-down(sm) {
      padding: 0 15px 0 50px;
    }
  }

  &__progress {
    position: relative;
    margin-right: 17px;
    width: 100%;
    max-width: 119px;
    background-color: #c8d4ff !important;

    &::before {
      content: "";
      position: absolute;
      left: 9px;
      top: 50%;
      border-radius: 50%;
      width: 7px;
      height: 7px;
      background-color: #fff;
      transform: translateY(-50%);
    }

    @include media-breakpoint-down(xl) {
      margin-left: auto;
    }

    @include media-breakpoint-down(md) {
      margin: 25px 0 15px;
      width: 100%;
      max-width: 100%;
      text-align: left;
    }
  }

  .progress-bar {
    overflow: visible;
    padding: 0 20px;
  }

  .header__bookmark {
    position: relative;
    margin-right: 17px;
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 52px;
    max-width: 52px;
    background-color: #fff;

    svg {
      stroke: $primary;
      transition: stroke 0.3s ease;
    }

    &:hover {
      background-color: $primary;

      svg {
        stroke: #fff;
      }
    }
  }

  &__span {
    position: absolute;
    right: 5px;
    top: 5px;
    border-radius: 50%;
    padding: 2px 3px;
    font-family: "SFPro-SemiBold", sans-serif;
    font-size: 10px;
    color: #fff;
    background-color: $warning;
  }

  &__dropdown {
    display: flex;
    align-items: center;
    margin-right: 24px;
    font-family: "SFPro-Medium", sans-serif;
    color: $primary;

    .dropdown-toggle::after {
      margin-left: 14px;
      border: none;
      width: 14px;
      height: 8px;
      background-image: url("../../../assets/svg/dropdown.svg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      transition: transform 0.3s ease;
    }

    &.show {
      .dropdown-toggle::after {
        transform: rotate(180deg);
      }
    }

    @include media-breakpoint-down(md) {
      margin-right: 0;
    }
  }

  &__dropdown-button {
    height: 52px;

    @include media-breakpoint-down(md) {
      justify-content: space-between;
      width: 100%;
    }
  }

  &__items {
    left: inherit !important;
    right: 0;
    min-width: 244px;

    .header__item {
      padding: 12px 19px 12px 26px;
    }

    svg {
      margin-right: 20px;
    }
  }

  &__item {
    .header__progress {
      border: 1px solid transparent;
      width: 126px;
      height: 26px;
    }

    &:not(:last-child) {
      border-bottom: 2px solid #4f4f4f1a;
    }

    &:not(:first-child) svg {
      fill: $dark;
    }

    &:not(:first-child):active svg {
      fill: #fff;
    }

    &:first-child {
      display: flex;
      align-items: center;
    }

    &:first-child svg {
      stroke: $primary;
    }

    &:first-child:active svg {
      stroke: #fff;
    }

    &:first-child:active {
      .header__percent {
        color: #fff;
      }

      .header__ {
        border-color: #fff;
      }
    }
  }

  &__btn {
    padding: 12px 27px 12px 19px;
    height: 52px;
    font-family: "SFPro-SemiBold", sans-serif;
    font-size: 16px;

    svg {
      margin-right: 11px;

      @include media-breakpoint-down(md) {
        margin-right: 0;
      }
    }

    @include media-breakpoint-down(md) {
      order: 3;
      padding: 12px;
      width: 50px;
      height: 50px;
    }

    @include media-breakpoint-down(sm) {
      padding: 8px;
      width: 40px;
      height: 40px;
    }
  }

  &__percent {
    margin-right: 11px;
    color: $primary;
  }

  &__img {
    overflow: hidden;
    margin-right: 11px;
    border-radius: 50%;
    width: 34px;
    height: 34px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
