@import "../../../../node_modules/bootstrap/scss/_mixins.scss";
@import "../../../global-styles/_variables.scss";
@import "../../../global-styles/_fonts.scss";

.header {
  @include media-breakpoint-down(md) {
    padding: 0 16px;
  }

  padding: 0 34px;
  width: 100%;

  .header__navbar {
    @include media-breakpoint-down(xl) {
      padding: 20px 0;
    }

    @include media-breakpoint-down(md) {
      padding: 11px 0 0;
      background-color: #fff;
    }

    position: fixed;
    left: 50%;
    z-index: 1010;
    justify-content: center;
    padding: 27px 0;
    width: 100%;
    background-color: $body;
    transform: translateX(-50%);
    transition: padding 0.3s ease;

    &.login {
      @include media-breakpoint-down(md) {
        padding: 16px 0 0;
      }
    }

    &.scroll {
      @include media-breakpoint-down(md) {
        padding: 9px 0 0;
      }

      padding: 9px 0;

      .header__inner {
        padding: 0 0 9px;
      }
    }

    &.active {
      border-radius: 0 0 8px 8px;
      box-shadow: 0 4px 4px 0 #00000040;
    }
  }

  &__container {
    @include media-breakpoint-down(md) {
      padding: 0 16px !important;
    }

    margin: 0;
    padding: 0 34px !important;
    max-width: 1614px;

    &.scroll {
      @include media-breakpoint-down(md) {
        padding: 0 16px !important;
      }

      padding: 0 34px;
    }

    @include media-breakpoint-down(md) {
      padding: 0 16px !important;
    }
  }

  &__wrap {
    @include media-breakpoint-down(md) {
      flex-direction: column;
      margin: 0 -16px;
      padding-bottom: 7px;
      width: auto;
    }

    display: flex;
    align-items: center;
    order: 4;
    border-top: 1px solid #f5f7fe;
    width: 100%;

    .networks {
      justify-content: start;
      padding: 24px 16px 27px;
      width: 100%;

      svg {
        width: 19px;
        height: 19px;
      }
    }

    &.login {
      @include media-breakpoint-down(md) {
        width: 112%;
      }
    }

    @include media-breakpoint-down(md) {
      flex-direction: column;
      margin: 0 -16px;
      padding-bottom: 7px;
      width: auto;
    }
  }

  &__items {
    width: 100%;
  }

  &__item {
    border-bottom: 1px solid #ededed;
    padding: 10px 16px;
    width: 100%;
    text-align: left;

    &:hover {
      background-color: #ededed;
    }
  }

  .navbar-toggler:focus {
    box-shadow: none;
  }

  &__inner {
    @include media-breakpoint-down(md) {
      padding-bottom: 11px;
      width: 100%;
    }

    display: flex;
    align-items: center;
    justify-content: space-between;

    &.login {
      @include media-breakpoint-down(md) {
        padding-bottom: 16px;
      }
    }

    @include media-breakpoint-down(md) {
      padding-bottom: 11px;
      width: 100%;
    }
  }

  &__logo {
    @include media-breakpoint-down(md) {
      order: 2;
      margin-right: 0;
      height: 29px;
      max-width: 127px;
    }

    @include media-breakpoint-down(sm) {
      height: 21px;
      max-width: 89px;
    }

    display: block;
    margin-right: 30px;
    width: 100%;
    height: 36px;
    max-width: 161px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__burger {
    @include media-breakpoint-down(md) {
      order: 1;
    }

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    .header__span {
      left: 18px;
      top: -10px;
    }

    &:focus {
      box-shadow: none;
    }

    @include media-breakpoint-down(md) {
      order: 1;
    }
  }

  &__progress {
    @include media-breakpoint-down(xl) {
      margin-left: auto;
    }

    @include media-breakpoint-down(lg) {
      margin-right: 14px;
    }

    margin-right: 17px;
    width: 100%;
    height: 20px;
    max-width: 119px;
    font-size: 12px;

    span::before {
      left: 7px;
      width: 7px;
      height: 7px;
    }
  }

  .header__bookmark {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 14px;
    border: none;
    border-radius: 6px;
    width: 100%;
    height: 52px;
    max-width: 52px;
    background-color: #fff;
    transition: background-color 0.3s ease;

    svg {
      stroke: $primary;
      transition: stroke 0.3s ease;
    }

    &:hover {
      background-color: $primary;

      svg {
        stroke: #fff;
      }
    }
  }

  &__span {
    position: absolute;
    left: 27px;
    top: 6px;
    border-radius: 50%;
    padding: 2px 3px;
    min-width: 18px;
    min-height: 10px;
    font-family: "SFPro-SemiBold", sans-serif;
    font-size: 9px;
    color: #fff;
    background-color: $warning;
  }

  &__btn {
    @include media-breakpoint-down(md) {
      padding: 7px;
    }

    display: flex;
    align-items: center;
    justify-content: flex-start;
    order: 3;
    border: 1px solid $primary;
    padding: 13px 27px 13px 19px;
    font-family: "SFPro-SemiBold", sans-serif;
    font-size: 16px;
    color: #fff;
    background-color: $primary;
    transition: background-color 0.3s ease, border-color 0.3s ease,
      color 0.3s ease;

    svg {
      @include media-breakpoint-down(md) {
        margin-right: 0;
      }

      margin-right: 11px;
      stroke: #fff;
      transition: stroke 0.3s ease;
    }

    &:hover {
      border-color: $primary;
      color: $primary;
      background-color: #fff;

      svg {
        stroke: $primary;
      }
    }

    @include media-breakpoint-down(md) {
      padding: 7px;
    }
  }

  &__login {
    order: 3;
    color: $primary;
  }

  &__percent {
    margin-right: 11px;
    color: $primary;
  }

  &__img {
    overflow: hidden;
    margin-right: 11px;
    border-radius: 50%;
    width: 34px;
    height: 34px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .search-input {
    @include media-breakpoint-down(xl) {
      max-width: 100%;
    }

    max-width: 672px;
  }

  &__buttons {
    display: flex;
    margin-left: auto;
    width: 100%;
    max-width: 284px;
  }

  &__button {
    border: 1px solid transparent;
    border-radius: 6px;
    width: 100%;
    height: 40px;
    max-width: 130px;
    font-size: 16px;
    transition: background-color 0.3s ease, border-color 0.3s ease,
      color 0.3s ease;

    &:first-child {
      margin-right: 24px;
      border-color: $dark;
    }

    &:last-child {
      color: #fff;
      background-color: $primary;
    }
    &:hover {
      border-color: $primary;
      color: $primary;
      background-color: #fff;
    }
  }
}

.headerMenu-enter {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.2s ease-out, opacity 0.2s ease;
}

.headerMenu-enter-active {
  max-height: 700px;
  opacity: 1;
  transition: max-height 0.3s ease-out;
}

.headerMenu-exit {
  max-height: 700px;
  opacity: 1;
  transition: max-height 0.3s ease-out;
}

.headerMenu-exit-active {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.2s ease-out, opacity 0.2s ease;
}
