@import "../../../global-styles/variables";
@import "../../../../node_modules/bootstrap/scss/mixins";

.create-done {
  .modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;

    max-width: 852px;
  }

  .modal-content {
    border: none;
    border-radius: 6px;

    @include media-breakpoint-down(md) {
      max-width: 400px;
    }
  }

  .modal-body {
    padding: 24px 24px 50px;

    @include media-breakpoint-down(sm) {
      padding: 10px 26px 24px;
    }
  }

  .modal-header {
    padding-bottom: 0;

    border: none;
  }

  &__wrapper {
    display: flex;
    justify-content: space-around;

    @include media-breakpoint-down(md) {
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  &__wrap {
    max-width: 313px;
    margin-right: 17px;
    padding-top: 13px;

    @include media-breakpoint-down(md) {
      max-width: 100%;
      margin-right: 0;

      text-align: center;
    }
  }

  &__title {
    margin-bottom: 16px;

    font-size: 28px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 12px;

      font-size: 24px;
    }
  }

  &__text {
    max-width: 163px;
    margin-bottom: 79px;

    @include media-breakpoint-down(md) {
      max-width: 100%;
      margin-bottom: 40px;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 291px;
    height: 60px;

    font-size: 18px;
    color: #fff;

    background-color: $primary;
    border: 1px solid transparent;
    border-radius: 6px;

    transition: all 0.3s ease;

    @include media-breakpoint-down(md) {
      height: 52px;
      margin: 0 auto;
    }

    &:hover {
      color: $primary;

      background-color: #fff;
      border-color: $primary;
    }
  }

  &__img {
    max-width: 330px;
    height: 305px;

    @include media-breakpoint-down(md) {
      max-width: 212px;
      height: 189px;
      margin-bottom: 26px;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
}
