@import '../../../global-styles/_variables.scss';
@import '../../../../node_modules/bootstrap/scss/_mixins.scss';

.creation-tag {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 32px;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 9px 15px;
  width: 100%;
  background-color: #fff;

  @include media-breakpoint-down(sm) {
    padding: 9px;
  }

  &.invalid {
    border-color: $warning;
  }

  &__search {
    position: relative;
    width: 250px;
  }

  &__create {
    display: flex;
    text-align: left;
    align-items: center;
    margin: 3px;
    border: 1px solid #b9b9b980;
    border-radius: 4px;
    padding: 2px 6px;

    svg {
      margin-left: 7px;
    }
  }

  &__create--input {
    margin: 0;
    outline: transparent;
    border: none;
    padding: 0;
    width: 100px;
  }

  &__create--tag {
    border-color: transparent;
    color: #fff;
    background-color: $primary;
    word-break: break-word;

    svg {
      stroke: #fff;
      transform: rotate(45deg);
    }
  }

  &__create--width {
    width: 133px;
  }

  &__close {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
