@import '../../../../global-styles/variables';

.complain-dropdown {
  position: relative;

  &__info {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 20px;
    height: 20px;

    border-radius: 50%;

    svg {
      stroke: #a3a3a380;

      transition: stroke 0.2s ease;
    }

    &:hover + .complain-dropdown__desc {
      visibility: visible;
      opacity: 1;
    }

    &:hover {
      svg {
        stroke: $dark;
      }
    }

    &:active {
      background-color: #e6e6e6;
    }
  }

  &__desc {
    position: absolute;
    z-index: 10;
    top: 30px;
    right: -50%;
    transform: translateX(28%);

    overflow: hidden;
    display: flex;
    align-items: center;

    padding: 4px 22px;

    color: #4f4f4f;

    visibility: hidden;
    opacity: 0;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 4%), 0 1px 5px 0 rgb(0 0 0 / 12%);

    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
}
