@import '../../../../global-styles/variables';
@import '../../../../../node_modules/bootstrap/scss/mixins';

.checklist-start {
  display: flex;
  align-items: center;

  margin-right: 10px;
  padding: 8px 30px;

  font-size: 16px;
  color: #fff;

  background-color: $primary;
  border: 1px solid transparent;
  border-radius: 6px;

  transition: all 0.3s ease;

  @include media-breakpoint-down(sm) {
    margin-right: 0;
    margin-bottom: 38px;

    justify-content: center;

    width: 100%;
  }

  span {
    margin-right: 9px;
  }

  svg {
    stroke: #fff;

    transition: transform 0.3s ease, stroke 0.3s ease;
  }

  &:hover {
    color: $primary;

    background-color: #fff;
    border-color: $primary;

    svg {
      transform: translateX(3px);

      stroke: $primary;
    }
  }
}
