@import '../../../../global-styles/variables';
@import '../../../../../node_modules/bootstrap/scss/mixins';

.checklist-save-button {
  position: relative;

  .checklist-save:hover + .checklist-save-button__desc {
    visibility: visible;
    opacity: 1;
  }

  &__desc {
    position: absolute;
    z-index: 10;
    top: 40px;
    right: -0%;
    transform: translateX(28%);

    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 110px;
    padding: 4px 20px;

    color: #4f4f4f;

    visibility: hidden;
    opacity: 0;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 4%), 0 1px 5px 0 rgb(0 0 0 / 12%);

    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
}
.checklist-save {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 39px;
  height: 39px;
  margin-bottom: 28px;

  border-radius: 8px;

  transition: box-shadow 0.2s ease;

  @include media-breakpoint-down(sm) {
    margin: 0 0 0 21px;
  }

  svg {
    width: 16px;
    height: 18px;

    stroke: #a3a3a3;
  }

  &:hover {
    svg {
      stroke: $dark;
    }
  }

  &--saved {
    background-color: #f0f9f2;

    svg {
      fill: #fff;
      stroke: $primary !important;
    }
  }
}
