@import "../../../global-styles/variables";
@import "../../../global-styles/mixins";
@import "../../../../node_modules/bootstrap/scss/mixins";

.show {
  margin-top: 0;
}

.profile {
  margin-bottom: 30px;
  max-width: 1112px;
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 116px;
  width: 100vw !important;
  height: 30px;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  background: $warning;

  @include media-breakpoint-down(xl) {
    margin-top: 20px;
  }

  @include media-breakpoint-down(sm) {
    padding: 4px 15px;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
  }
}
