@import '../../../global-styles/_variables.scss';
@import '../../../../node_modules/bootstrap/scss/_mixins.scss';

.active-checklist {
  margin: 0 auto 16px;
  width: 100%;
  max-width: 834px;
  position: relative;
  border-radius: 8px;
  padding: 34px 29px 36px;
  width: 100%;
  background-color: #fff;

  @include media-breakpoint-down(sm) {
    margin-bottom: 12px;
    padding: 21px 19px 25px;
  }

  &__title {
    margin-bottom: 21px;
    font-size: 1.5rem;
    padding-right: 25px;

    @include media-breakpoint-down(md) {
      font-size: 1.3rem;
    }

    @include media-breakpoint-down(sm) {
      font-size: 1rem;
      padding-right: 0;
    }
  }

  &__items {
    padding-left: 30px;
    margin-bottom: 36px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 59px;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: $light;

    svg {
      stroke: $light;
      width: 24px;
      height: 24px;
    }
  }

  &__btn {
    &:hover {
      color: $primary;

      svg {
        stroke: $primary;
      }
    }

    &:first-child {
      svg {
        margin-left: 4px;
      }
    }

    &:not(:last-child) {
      margin-right: 25px;
    }

    &:last-child:hover {
      svg {
        stroke: $warning;
      }
    }
  }
}
