@import "../../global-styles/_variables.scss";

.breadcrumbs {
  display: flex;
  margin-top: 69px;

  &__item {
    margin-right: 20px;

    &:last-child {
      color: $primary;

      svg {
        stroke: $primary;
      }
    }

    a {
      color: $dark;

      &:hover {
        color: $primary;
      }
    }

    svg {
      margin-right: 20px;
      stroke: $dark;
    }

    &:not(:first-child) {
      position: relative;
    }
  }
}
