.contacts {
  padding-bottom: 100px;

  .breadcrumbs {
    margin-bottom: 14px;
  }

  &__img {
    max-width: 253px;
    width: 100%;
    height: 253px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__text {
    line-height: 1.3;

    &:not(:last-child) {
      margin-bottom: 73px;
    }
  }
}
