@import "../../../global-styles/_variables.scss";
@import "../../../../node_modules/bootstrap/scss/_mixins.scss";

.progressBar-checklist {
  margin: 0 auto 12px;
  border-radius: 6px;
  padding: 17px 34px 12px;
  max-width: 834px;
  background-color: #fff;

  &__wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 9px;
    font-size: 16px;

    @include media-breakpoint-down(sm) {
      font-size: 12px;
    }
  }

  &__flag {
    svg {
      margin-left: 13px;
      width: 24px;
      height: 24px;

      @include media-breakpoint-down(sm) {
        margin-left: 5px;
        width: 18px;
        height: 18px;
      }
    }
  }

  &__wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    width: 100%;
    height: 8px;
    background-color: #c8d4ff;
  }

  &__done {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0;
    height: 100%;
    color: #fff;
    background-color: $primary;
  }

  @include media-breakpoint-down(sm) {
    padding: 17px 19px 12px;
  }
}
