@import "../../../global-styles/_variables.scss";
@import "../../../../node_modules/bootstrap/scss/_mixins.scss";

.breadcrumbs {
  display: flex;
  margin-top: 42px;
  margin-bottom: 14px;

  &__item {
    margin-right: 20px;

    a {
      color: $dark;

      &:hover {
        color: $primary;
      }
    }

    svg {
      margin-right: 20px;
      stroke: $dark;
    }

    &:not(:first-child) {
      position: relative;
    }

    &:last-child {
      color: $primary;

      svg {
        stroke: $primary;
      }
    }
  }

  @include media-breakpoint-down(md) {
    margin-bottom: 24px;
  }
}
