@import "../../../global-styles/_variables.scss";
@import "../../../../node_modules/bootstrap/scss/_mixins.scss";

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 42px 0 50px;
  font-size: 14px;

  @include media-breakpoint-down(sm) {
    padding: 16px 0 26px;
    font-size: 12px;
  }

  &__item {
    margin-right: 20px;

    @include media-breakpoint-down(sm) {
      margin-right: 14px;
    }

    a {
      color: $dark;

      &:hover {
        color: $primary;
      }
    }

    svg {
      margin-right: 20px;
      stroke: $dark;

      @include media-breakpoint-down(sm) {
        margin-right: 14px;
      }
    }

    &:not(:first-child) {
      position: relative;
    }

    &:last-child {
      color: $primary;

      svg {
        stroke: $primary;
      }
    }
  }
}
