@import "../../global-styles/_variables.scss";

.wrap {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffffa9;
}

.spinner {
  display: inline-block;
  width: 100px;
  height: 100px;
}
.spinner:after {
  content: ' ';
  display: block;
  width: 84px;
  height: 84px;
  margin: 10px;
  border-radius: 50%;
  border: 8px solid $mainColor;
  border-color: $mainColor transparent $mainColor transparent;
  animation: spinner 1.2s linear infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}