.tag-list {
  position: absolute;
  z-index: 2;
  top: 38px;
  left: 3px;

  overflow-y: auto;

  min-width: 132px;
  max-height: 300px;
  margin: 0;
  padding: 7px 0;

  word-break: break-word;

  background-color: #fff;
  border: 1px solid #efefef;
  border-radius: 6px;
  box-shadow: 0 2px 2px 0 #00000010;

  &__item {
    button {
      width: 100%;
      padding: 10px 30px 10px 14px;

      line-height: 1.1;
      text-align: left;
    }

    &.active {
      background-color: #efefef;
    }

    &:hover {
      background-color: #efefef;
    }
  }
}
